/***********************************
    All device type changes here
************************************/
@media (min-width: 1200px) {
	.container {
		max-width: 950px;
	}
}

@media (max-width: 1200px) {
	.mediaSmallLeft {
		/*max-width: 950px;*/
	}
}

@media (max-width: 600px) {
	.homePageCarousel {
		display: none;
	}
	.pressImages {
		display: none;
	}
}



/***********************************
    Carousel settings
************************************/
.carousel {
    width: 100%;
    border-style: inset;
    background-color: #9a9a9a;
}

.carousel-item {
    width: 95%;
    padding-left: 0.5%;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
}

.carousel-indicators {
    bottom: -10px;
}

.carousel-control-next, .carousel-control-prev {
    width: 5%;
}

/*carousel fade classes do not change/remove */
.carousel-fade .carousel-item {
 opacity: 0;
 transition-duration: 1.3s;
 transition-property: opacity;
}

.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
 opacity: 0;
}

.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
 transform: translateX(0);
 transform: translate3d(0, 0, 0);
}
/*carousel fade classes do not change/remove */



/*****************************************************
    Padding, Margin, Height, Width CSS Elements here
    Create new ones, do not change existing ones
******************************************************/
.width80 {
    max-width: 80%;
}

.marginRight-12 {
	margin-right: 12px;
}

.marginTop-32 {
	margin-top: 32px;
}

.marginTop-46 {
    margin-top: 46px;
}

.marginTop-16 {
    margin-top: 16px;
}

.marginBottom-32 {
	margin-bottom: 32px;
}

.marginBottom-16 {
    margin-bottom: 16px;
}

.marginBottom-8 {
	margin-bottom: 8px;
}

.marginBottom-0 {
	margin-bottom: 0px;
}

.marginTop-8 {
	margin-top: 8px;
}

.marginTop-4 {
    margin-top: 4px;
}

.marginLeft-16 {
	margin-left: 16px;
}

.marginRight-16 {
	margin-right: 16px;
}

.noMaxWidth {
	max-width: 100%;
}

.marginLeft--5-perc {
	margin-left: -5%;
}

.padding-4 {
    padding: 4px;
}

.padding16{
    padding: 16px;
}

.paddingLeft-0 {
	padding-left: 0px;
}

.paddingLeft-70 {
    padding-left: 70px;
}

.paddingTop-4 {
	padding-top: 4px;
}
.paddingTop-8 {
    padding-top: 8px;
}

.paddingBottom-8 {
    padding-bottom: 8px;
}

.paddingRight-0 {
	padding-right: 0px;
}

.h-35 {
    height: 35px;
}

.h-450 {
	height: 400px;
}

.h-350 {
    height: 350px;
}

.paddingLR-10-perc {
	padding-left: 10%;
	padding-right: 10%;
}



/*****************************************************
    Header, Footer CSS Elements here
    Create new ones, do not change existing ones
******************************************************/
/* Remove the jumbotron's default bottom margin */ 
.jumbotron {
    margin-bottom: 0;
    /*background: url(../img/jumbo.jpg);*/  /*use this for an image*/
    background: #707070;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.footer-hr {
    padding: 0px;
    margin: 0px; 
    border-top: 1px solid rgba(0,0,0,.1);
}

.nav-link {
    color: #dedfe0 !important;
    font-weight: 600;
}

/* Remove the navbar's default rounded borders and increase the bottom margin */ 
.navbar {
    border: None;
    margin-bottom: 15px;
}

.gradientColor {
    background: -webkit-linear-gradient(left, #6e5bd5, #c5474d);
    background: linear-gradient(left, #6e5bd5, #c5474d);
}

a.nav-link:hover{
    color: #e4a9a9;
}

.navbar-brand {
    color: #dedfe0 !important;
    font-weight: 900;
}

.nav-link.active {
    /*color: white;*/
}

.colorDarkBlue {
    color: DarkBlue;
}

.colorDarkCyan {
    color: DarkCyan;
}

.cursorPointer {
    cursor: pointer
}
/*****************************************************
    Background CSS Elements here
    Create new ones, do not change existing ones
******************************************************/
.bg-dark {
    background-color: #9c1e2a !important;
}

.bg-dark-black {
    background-color: #000 !important;
}

.bg-hiring {
	background-color: #32449af0;
}

.bg-publication {
    background-color: aliceblue;
}

.bg-Gray {
    background: #f5f5f6;
    border-radius: 6px;
}

.bg-gray{
    background-color: #f2f2f2
}



/*****************************************************
    Common CSS Elements here
    Create new ones, do not change existing ones
******************************************************/
hr {
    border-top: 4px solid rgba(0,0,0,.1);
}

.text-justify{
    text-align: justify;
}

.pagerLink {
    text-decoration: none !important;
}

.card-badge {
	max-width: 6rem;
	display: inline-block;
	padding: 0px;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25rem;
}

.no-border{
	border: none;
}

.card-deck{
	width: 100%;
}

.card-block{
	margin-left: 8px;
	margin-top: 4px;
}

.row{
	margin-left: 0px;
	margin-right: 0px;
}

img{
    vertical-align: middle;
}

.table td, .table th {
    border-top: 4px solid #dee2e6;
}

.w-100p{
    width: 100%;
}

.h-100p{
    height: 100%;
}

/***********************************
    Image CSS Elements
************************************/
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.img-rounded {
    border-radius: 3px;
}

.img-thumbnail {
    background-color: #fff;
    border: 1px solid #ededf0;
    border-radius: 3px;
    display: inline-block;
    height: auto;
    line-height: 1.428571429;
    max-width: 100%;
    moz-transition: all .2s ease-in-out;
    o-transition: all .2s ease-in-out;
    padding: 2px;
    transition: all .2s ease-in-out;
    webkit-transition: all .2s ease-in-out;
}

.img-circle {
    border-radius: 50%;
}



/***********************************
    Timeline CSS Elements
************************************/
.timeline-centered {
    position: relative;
    margin-bottom: 30px;
}

.timeline-centered:before, .timeline-centered:after {
    content: " ";
    display: table;
}

.timeline-centered:after {
    clear: both;
}

.timeline-centered:before, .timeline-centered:after {
    content: " ";
    display: table;
}

.timeline-centered:after {
    clear: both;
}

.timeline-centered:before {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    background: #f5f5f6;
    /*left: 50%;*/
    top: 20px;
    bottom: 20px;
    margin-left: 30px;
}

.timeline-centered .timeline-entry {
    position: relative;
    /*width: 50%;
    float: right;*/
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 10px;
    clear: both;
}

.timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
    content: " ";
    display: table;
}

.timeline-centered .timeline-entry:after {
    clear: both;
}

.timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
    content: " ";
    display: table;
}

.timeline-centered .timeline-entry:after {
    clear: both;
}

.timeline-centered .timeline-entry.begin {
    margin-bottom: 0;
}

.timeline-centered .timeline-entry.left-aligned {
    float: left;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
    margin-left: 0;
    margin-right: -18px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
    left: auto;
    right: -100px;
    text-align: left;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
    float: right;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
    margin-left: 0;
    margin-right: 70px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: -9px;
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.timeline-centered .timeline-entry .timeline-entry-inner {
    position: relative;
    margin-left: -20px;
}

.timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
    content: " ";
    display: table;
}

.timeline-centered .timeline-entry .timeline-entry-inner:after {
    clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
    content: " ";
    display: table;
}

.timeline-centered .timeline-entry .timeline-entry-inner:after {
    clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
    position: absolute;
    left: -100px;
    text-align: right;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
    display: block;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
    font-size: 15px;
    font-weight: bold;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
    font-size: 12px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
    background: #fff;
    color: #737881;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    -moz-box-shadow: 0 0 0 5px #f5f5f6;
    -webkit-box-shadow: 0 0 0 5px #f5f5f6;
    box-shadow: 0 0 0 5px #f5f5f6;
    line-height: 40px;
    font-size: 15px;
    float: left;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
    background-color: #303641;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary {
    background-color: #ee4749;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success {
    background-color: #00a651;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info {
    background-color: #21a9e1;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning {
    background-color: #fad839;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger {
    background-color: #cc2424;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
    position: relative;
    background: #f5f5f6;
    padding: 1em;
    margin-left: 60px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    border-color: transparent #f5f5f6 transparent transparent;
    left: 0;
    top: 10px;
    margin-left: -9px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
    color: #737881;
    font-family: "Noto Sans",sans-serif;
    font-size: 12px;
    margin: 0;
    line-height: 1.428571429;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
    margin-top: 15px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
    font-size: 16px;
    margin-bottom: 10px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
    color: #303641;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
    -webkit-opacity: .6;
    -moz-opacity: .6;
    opacity: .6;
    -ms-filter: alpha(opacity=60);
    filter: alpha(opacity=60);
}
